@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f1f1f1;
    --text-color: #161616;
}

.dark {
    --background-color: #030712;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}